<ListView [items]="cities" class="list-group">
    <ng-template let-city="item" let-i="index" let-odd="odd" let-even="even">
        <!-- The item template can only have a single root view container (e.g. GridLayout, StackLayout, etc.)-->
        <StackLayout orientation="horizontal" class="list-group-item" (tap)="onItemTap(city.id)">
            <Label text="Country: " textWrap="true"></Label>
            <Label [text]="city.name"></Label>
        </StackLayout>
    </ng-template>
</ListView>