/* Add mobile styles for the component here.  */
.coverImage {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.icon {
    border-radius: 50;
    font-size: 40;
    width: 90;
    color: white;
    text-align: center;
    padding-top: 20;
}

.icon-text {
    padding-top: 15;
    font-size: 20;
    color: white;
    text-align: center;
}

.m-t-30 {
    margin-top: 40;
}

.temp {
    font-size: 50;
    font-family: "Varela", "varela-regular";
    color: white;
    vertical-align: center;
    text-align: center;
    padding-left: 5;
}

.day {
    color: white;
    text-align: center;
    font-size: 16;
}

.change-city {
    color: white;
    font-size: 30;
    padding-right: 10;
}

.weather {
    font-size: 24;
    color: white;
    padding-top: 10;
    text-align: center;
}
