<GridLayout rows="*,60" backgroundImage="~/images/new-york.jpg" class="coverImage" style="padding-top:55">
    <StackLayout row="0">
        <Label [text]="(selectedCity$ | async).name" class="h1 text-center"></Label>
        <Label [text]="(selectedCity$ | async).country" class="h2 text-center"></Label>

        <GridLayout columns="*, *, *" rows="90, 50" class="center" style="margin-top:50">
            <Label text="&#xf1ad;" row="0" col="0" backgroundColor="#53beb1" class="fas icon "></Label>
            <Label text="&#xf2e7;" row="0" col="1" backgroundColor="#d16a6e" class="fas icon "></Label>
            <Label text="&#xf3df;" row="0" col="2" backgroundColor="#55a3bb" class="fab icon "></Label>
            <Label text="Stay" row="1" col="0" class="icon-text "></Label>
            <Label text="Eat" row="1" col="1" class="icon-text "></Label>
            <Label text="Play" row="1" col="2" class="icon-text "></Label>
        </GridLayout>

        <StackLayout class="hr-light  m-t-30"></StackLayout>
        <GridLayout columns="auto, *, *, *, *, *" rows="50, 50">
            <Label [text]="(selectedCity$ | async).currentTemp" row="0" col="0" rowSpan="2" class="temp"></Label>
            <Label text="&#xf185;" row="0" col="1" class="fa weather"></Label>
            <Label text="&#xf185;" row="0" col="2" class="fas weather"></Label>
            <Label text="&#xf185;" row="0" col="3" class="fa weather"></Label>
            <Label text="&#xf185;" row="0" col="4" class="fa weather"></Label>
            <Label text="&#xf185;" row="0" col="5" class="fa weather"></Label>
            <Label text="TUE" row="1" col="1" class="day"></Label>
            <Label text="WED" row="1" col="2" class="day"></Label>
            <Label text="THU" row="1" col="3" class="day"></Label>
            <Label text="FRI" row="1" col="4" class="day"></Label>
            <Label text="SAT" row="1" col="5" class="day"></Label>
        </GridLayout>
        <StackLayout class="hr-light hr-bottom"></StackLayout>
    </StackLayout>
    <StackLayout row="1">
        <Label text="&#xf0fe;" class="fa text-right change-city" [nsRouterLink]="['cities']"
            pageTransition="slide"></Label>
    </StackLayout>
</GridLayout>